<div class="login-page">
  <div class="form">
    <form action="/addCategories" method="POST" class="create-form">
      <input type="text" name='category' placeholder="Title" />
      <button type="submit">create</button>
    </form>
  </div>
</div>